body {
  background-color: white;
}

header {
  display: flex;
  background-color: olive;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

header nav{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: end;
}
header img {
 height: 200px;
 width: 170px;
}

 